Relaxing the restriction to allow POST to create new resources, regardless of their mime types

Trying to `HTTP POST` with Content-Type `text/html` and the data being HTML+RDFa, returns `HTTP 415`.

e.g:

`curl -v -X POST -H'Content-Type: text/html; charset=utf-8' -H'Link: <http://www.w3.org/ns/ldp#Resource>, rel="type"' -H"Slug: x.html" https://example.org/ --data '<html></html>'`

I've also tried it with `ldp:NonRDFSource` but still `HTTP 415`.

`https://example.org/` is a `ldp:BasicContainer`.

Is Gold's implementation related to this (from the LDP Rec):

> "6.2.1 LDP servers can support representations beyond those necessary to conform to this specification. These could be other RDF formats, like N3 or NTriples, but non-RDF formats like HTML [HTML401] and JSON [RFC4627] would likely be common. HTTP content negotiation ([RFC7231] Section 3.4 - Content Negotiation) is used to select the format."

I think it is getting tripped over this:

https://github.com/linkeddata/gold/blob/40e5ee4172f308f56eee29b06cfbe51aa6a4cd5b/server.go#L272

and because of not listing `text/html` as one of the mimeParsers:

https://github.com/linkeddata/gold/blob/40e5ee4172f308f56eee29b06cfbe51aa6a4cd5b/mime.go#L14

HTML+RDFa is an `ldp:RDFSource`. Of course whether the HTML includes RDF(a) or not - HTML could also include Turtle or JSON-LD in `<script>` - can't be known without looking at the content, so there is some reliance on the `text/html` or `application/xhtml+xml` mediatypes. Besides, the spec is pointing at HTML 4.01 (which is rather archaic, but that may be need to be mentioned in an errata). 

I agree this is needed. I'll try to fix it asap.

In fact, giving it some thought, I think I will leave it like this for now, at least. If you want to POST new resources to a container, you can still send a request with `multipart/form-data`. It's what most file "upload" scripts use these days. This functionality is currently supported in gold.

The example I gave above was about an RDFSource, not NonRDFSource. I didn't quite understand the reason behind "leave it like this for now", when the original issue is about removing the unnecessary restrictions/limitations.

There is not much point in "upload"ing an HTML+RDFa via multipart/form-data if I can just as well do a PUT (today, that's what I'm doing). What I want to be able to do is have the option to POST an HTML+RDFa document on the same grounds as Turtle (which is another RDFSource). This is useful.

Is there any reason for different treatment here for RDFa and Turtle? If gold doesn't want to support RDFa, that's fair enough, but I'd like to know. The POST gives me the ability to use a Slug if I need to, as well as let the server give me the new Location if that Slug didn't work out. Why would there be a need to give different treatment?

The example you gave above had `Content-Type: text/html` in it, which is not a recognized mime type for an RDFSource, at least in the LDP world. At least that's what made me think it wasn't an RDFSource document.

What do you mean by "Moreover, JSON-LD, JSON, SPARQL-Update get a pass"? Gold only supports the `text/turtle` mime type for LDP-style POST.

Yes, the reason is that RDFa is HTML+RDFa markup. AFAIK, and please correct me if I'm mistaken, RDFa is commonly serialized as `text/html`, and stored in `.html` documents (which are also treated as `text/html` by most servers). This makes it semantically different from Turtle, and arguably different from JSON* (which in itself is a data format).

@deiu But why not just allow POST too add any resource?   At the moment I like @csarven don't see why the ability to be posted into a directory shouldn't be given to any resource, HTML, PNG, MPEG, whatever?

Looking at:
* http://www.w3.org/TR/ldp/#dfn-linked-data-platform-rdf-source
* http://www.w3.org/TR/rdf11-concepts/#dfn-rdf-source

More specifically:
> "A snapshot of the state can be expressed as an RDF graph. For example, any web document that has an RDF-bearing representation may be considered an RDF source."

I think that qualifies for any RDF representation e.g., Turtle, RDFa. We can re-serialize RDFa to Turtle or any other RDF graph just the same.

An RDFa document may have Content-Text: text/html or application/xhtml+xml . It can be stored in any filename (with any file extension). Moreover, an HTML+RDFa document doesn't have to be stored in a file per se. The graph/information can originate in an RDF (triple/quad) store in which gets mapped to some HTML before passing to the client. This is in fact a very common practice. What you see in HTML+RDFa is just one serialization (among many) of the RDF graph.

I don't understand what you mean by "data format", or what qualifies as "data" and what doesn't. An HTML+RDFa contains triple statements no different than the others.

I've pointed out JSON-LD, JSON, SPARQL Update because of them being listed in mimeParsers:
https://github.com/linkeddata/gold/blob/40e5ee4172f308f56eee29b06cfbe51aa6a4cd5b/mime.go#L14
which are being exceptions which are checked in this line:
https://github.com/linkeddata/gold/blob/40e5ee4172f308f56eee29b06cfbe51aa6a4cd5b/server.go#L272 . At least that's my reading of it.



"The graph/information can originate in an RDF (triple/quad) store in which gets mapped to some HTML before passing to the client. This is in fact a very common practice." Sure, but gold does not use a triple store, it uses the file system. An HTML document with RDFa markup is ultimately an HTML document, and gold will treat it as such. A client may decide to parse it as RDFa if it wants, but the document will be served as `text/html`. A client may also decide to store it on a server running gold, but in doing so it will set the `Content-Type` header to `text/html`, to match the mime type of the actual document.

What I'm trying to say is that there are no plans to have gold treat RDFa documents as anything else other than HTML documents.

@timbl @csarven I will need to check if it doesn't create any conflicts with the LDP part. There might be a way to make it an easy fix, but then all resources will be treated equal -- i.e. no longer making a difference between RDFSource and NonRDFSource.

Thanks @deiu . I think this raises a gray area which people have to figure out how to deal with. This is due to what LDP says about supporting other representations:

http://www.w3.org/TR/ldp/#ldp-http-other-representations

And the problematic sentence is:

> HTTP content negotiation is used to select the format.

I think what the LDP spec intended was actually for "vanilla" HTML, not HTML+RDFa. Rightfully so, we can imagine that by only looking content-type for "vanilla" HTML, it is a NonRDFSource (for all intents and purposes). Since HTML+RDFa is an RDF Source, the spec's intention doesn't hold up. It actually doesn't cover that scenario since there is a conflict.

For LDP/Solid, as far as I know (at this time), we are only typing resources with ldp:Resource, and not something with more specific i.e., RDFSource or NonRDFSource. So, I think the simplest and immediate change would be to at least let text/html and application/xhtml+xml go through the POST. We don't have to open the gates completely and lose some control over how those two Source types are differentiated. If some new serialization/format comes up, we can deal with that later, and add it to the list of exceptions. In fact, an XML family member, like SVG may be accompanied with RDF/XML all meanwhile it uses image/svg+xml even though we can reference an SVG resource and get an RDF graph out of the box. I don't know about all media types e.g., PNG, MPEG, but if for example they may be accompanied with an RDF graph (and recognized as such) it is probably a good enough candidate to be (also) treated as an RDFSource and not only NonRDFSource.